* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  section {
    display: flex;
    gap: 0;
  }
  table,
  th,
  td {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
  }
  table {
    
    border: 2px solid black;
    margin: 0 1rem 0 20rem;
  }
  th,
  td {
    border: 1px solid black;
    padding: 0.2rem;
  }
  .bold_it {
    border: 2px solid black;
    height: 0px;
  }
  .small {
   
    line-height: 2px;
  }
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    margin-top: 2rem;
  }
  .full_forms {
    font-size: 1.5rem;
    margin-top: 3rem;
    /* text-align: center; */
  }
  span {
    font-weight: bold;
    text-decoration: underline;
  }
  .division {
    /* display: block; */
    margin-top: 2rem;
  }
  .my_class {
    background-color: #f2ea02;
  }