@font-face {
    font-family: 'aileronblack';
    src: url('Aileron-Black-webfont.eot');
    src: url('Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Black-webfont.woff2') format('woff2'),
         url('Aileron-Black-webfont.woff') format('woff'),
         url('Aileron-Black-webfont.ttf') format('truetype'),
         url('Aileron-Black-webfont.svg#aileronblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
html{
    font-family: 'aileronblack';
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
#brand
{
    color: hsl(215,28%,17%);
    font-weight: bold;
    font-size: 30px;
    margin-top: 1.3em;
    margin-left: .4em;
    width: 10%;
}
.nav{
    margin-bottom: 80px;
}
.home{
    display: inline-block;
    width: 70%;
    margin:3em auto ;
}
.center{
    margin: auto;
    width: 70%;
}
#contact{
    text-decoration: none;
    border: 1px solid hsl(216,14%,93%);
    border-radius: 7px;
    padding: 1em 2em;
    color: hsl(217,14%,33%);
    width: 6%;
    margin: 2em;

}
.btn{
    margin: 2em ;
    color: hsl(217,10%,41%);
    font-size: 17px;
}
a{
    text-decoration: none;
}

#easy{
    color: hsl(215,28%,17%);
    font-size: 40px;
    width: min-content;
    min-width: 500px;
}
img{
    width: 50%;
    border-radius: 8px;
}
.inline{
    display: inline;
    margin-left: 15em;
}
.ch{
    color: hsl(217,14%,33%);
}
.check{
    width: 20px;
    margin-right: .5em;
}


.en{
    display: inline-block;
    position: absolute;
    width: min-content;
    min-width: 50%;
    margin: 3em;
}
input{
    color: hsl(219,11%,69%);
    margin-left: -3em;
    margin-right: 16em;
    border: none;
}
#join{
    display: inline-block;
    border-radius: 7px;
    background-color: hsl(217,91%,60%);
    color: #FFF;
    margin-right: -2.7em;
    padding: .8em 1.2em;
}
#ej{
    display: inline;
    border: 1px solid hsl(216,14%,93%);
    border-radius: 7px;
    padding: 1.1em 3em;
}

